#card_item{
    background-color: skyblue;
    box-shadow: 1px 1px 8px 1px blueviolet;
    color: black;
    padding: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid blue;
    margin: 5px;
}
img{
    
    width: auto;
    height: 270px;


}